/* Defaults */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.navbar {
    /* width:50%; */
    margin: 20px 450px;
}

@media screen and (max-width:500px) {
    .navbar {
        margin:0;
    }
}